name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  # Allow manual workflow triggering from the "Actions" tab.
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10', '3.11']

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip wheel
        python -m pip install -r requirements.txt -r requirements-test.txt

    - name: Install Weitersager
      run: |
        python -m pip install -e .

    - name: Test with pytest
      run: |
        pytest
